<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity
            android:name=".search.SearchActivity"
            android:exported="false"
            android:label="@string/title_activity_search"
            android:theme="@style/Theme.ComposeMovie" />
        <activity
            android:name=".filter.FilterActivity"
            android:exported="false"
            android:label="@string/title_activity_filter"
            android:theme="@style/Theme.ComposeMovie" />
        <activity
            android:name=".main.MainScreenActivity"
            android:exported="false"
            android:label="@string/title_activity_main_screen"
            android:theme="@style/Theme.ComposeMovie" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.ComposeMovie" />
    </application>

</manifest>